body{
    background-image: url(../images/bg.png);
    background-size: cover;
}
@media (max-width: 700px) {
    .red-title {
        color: red;
    }
    .green-title {
        color:green;
    }
    .orange-title {
        color: orange;
    }
}